<!-- Footer -->
<div>
    <footer class="page-footer font-small unique-color-dark pt-4" style="margin-top: 5px">

        <!-- Footer Elements -->
        <div class="container" style="text-align: center">
    
            <!-- Call to action -->
            <a class="git-ic" href="https://github.com/ansgohar/IBMCallForCodeTeamI"><i style="margin-bottom: 10px" class="fab fa-github fa-2x"></i></a>
            <!-- Call to action -->
    
        </div>
        <!-- Footer Elements -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">&copy; 2018 Copyright:
            <a href="https://github.com/ansgohar/IBMCallForCodeTeamI"> Survival Network</a>
        </div>
        <!-- Copyright -->
    
    </footer>
</div>
<!-- Footer -->